* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

a {
    text-decoration: none;
}

table {
    border: 2px black solid;
    border-collapse: collapse;
}

th, td {
    border: black 1px solid;
    padding: 1rem;
}

.container {
    width: 600px;
    background-color: #ffffff;
    margin: auto;
    padding: 8px 16px;
}

span {
    font-weight: bold;
    color: rgb(0, 119, 255);
    font-style: italic;
}

div {
    border: solid 2px black;
} 

th, td {
    padding: 12px;
}