body {
    background-color: lightgray;
}

.cont {
    width: 600px;
    margin: auto;
    background-color: white;
    padding: 10px;
}

header {
    flex-direction: column;
}

img {
    margin: auto;
}


h4 {
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

table {
    border-collapse: collapse;
}


.tab tr th{
    border: solid 2px black;
    padding-left: 10px;
    padding-right: 10px;
}
